// =====================================================
//    COLORS
// =====================================================

$black: #000000;
$white: #ffffff;

$brandCol1: #000000;


$dark1: #000a1e;//ghost buttons text
$dark2: #15002e;//titles, headers


$grey1: #ebf0fe;//ghost buttons line
$grey2: #858e92;//main header text col


// =====================================================
//    Fonts
// =====================================================
$poppins: 'Poppins', sans-serif;
$sourceSansPro: 'Source Sans Pro', sans-serif;

// =====================================================
//    Fonts Weight
// =====================================================
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$superBold: 800;
