// =====================================================
//    COLORS
// =====================================================

$black: #000000;
$white: #ffffff;

$brandCol1: #000000;


// =====================================================
//    Fonts
// =====================================================
$poppins: 'Poppins', sans-serif;

// =====================================================
//    Fonts Weight
// =====================================================
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$superBold: 800;
