html {
  overflow-x:hidden;
}

body {
  color: $black;
  font-family: $poppins;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  cursor: default;
  overflow-x: hidden;
  max-width: 100vw;

  ::selection {
    background: rgba($brandCol1, 0.7);
  }
}


#index{
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  margin: 0 auto;
}



.cont-width_0{
  margin: auto;
  padding: 0px 40px;
  max-width: 1190px; //40+40=80
  width: 100%;
  display: block;
}


.grid-col-left{
  display: inline-block;
  max-width: 231px;
  position: relative;
  margin-right: 50px;
}

.grid-col-center{
  display: inline-block;
  max-width: 700px;
  position: relative;
}



// =====================================================
//    MEDIA QUERIES
// =====================================================
// Small
@media (min-width: 544px) {}
// Medium
@media (max-width: 768px) {}
// Large
@media (max-width: 992px) {}
// Extra large
@media (max-width: 1225px) {
}
