.button-text{
  font-family: $sourceSansPro;
  font-weight: $semi-bold;
  color: rgba($dark1, 0.85);
  font-size: 14px;
  transition: color 0.35s;


  &:hover{
    transition: color 0.25s;
  }

  &1{
    @extend .button-text;
    color: rgba($dark1, 0.55);
    &:hover{
      color: rgba($dark1, 0.75);
    }
  }
}


.btn-line__ghost{
  display: inline-block;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid $grey1;
  background-color: none;
  font-size: 14px;
  padding: 9px 35px;
  font-family: $sourceSansPro;
  font-weight: $semi-bold;
  color: rgba($dark1, 0.85);
  transition: color 0.25s;
  white-space: nowrap;

  &:hover{
    color: rgba($dark1, 0.95);
    transition: color 0.4s;
  }

  .btn-icon{
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    margin-right: 10px
  }
}


.button-scm{
  height: 21px;
  width: auto;
  display: inline-block;

  img{
    display: block;
    background-position: center;
    background-size: cover;
    background-color: transparent;
    cursor: pointer;
    margin: auto;
    transition: opacity 0.2s;
    height: 100%;
    opacity: 0.17;

    &:hover{
      opacity: 0.3;
      transition: opacity 0.2s;
    }
  }
}






//colors

@mixin colorStyles($color, $color__light) {
  @extend .colorBtn;

  color: $color;
  background-color: rgba($color__light, 0.7);
  transition: background-color 0.25s;


  &:hover{
    background-color: rgba($color__light, 0.9);
    transition: background-color 0.25s;
    color: $color;
  }
}

.colorBtn{
  text-align: center;
  display: inline-block;
  font-family: $sourceSansPro;
  font-weight: $semi-bold;
  cursor: pointer;
  font-size: 13px;
  border-radius: 5px;



  &-inner{
    display: block;
    padding: 5px 28px;
    height: 100%;
    letter-spacing: 0.02em;
  }


  &__blue{
    @include colorStyles($BRblue, $BRblue__light);
  }
  &__green{
    @include colorStyles($BRgreen, $BRgreen__light);
  }
  &__purple{
    @include colorStyles($BRpurple, $BRpurple__light);
  }
  &__red{
    @include colorStyles($BRred, $BRred__light);
  }
  &__yellow{
    @include colorStyles($BRyellow, $BRyellow__light);
  }
}
