footer{
  width: 100%;
  display: block;
  position: relative;
  padding-bottom: 50px;
  padding-top: 120px;

  .footer-top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;


    .footer-cta{
      display: inline-block;

      button:first-child{
        margin-right: 25px;
      }
    }

    .footer-socials{
      display: inline-block;
      height: 20px;
      width: auto;

      .button-scm{
        margin-right: 22px;

        &:last-child{
          margin-right: 0px;
        }
      }

      img{
        height: 100%;
      }
    }
  }



  .footer-bottom{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .metatext{
      font-size: 13px;
      color: $grey1;
      font-family: $poppins;
      font-weight: $medium;
      color: rgba($dark1, 0.35);
    }

    .footer-law{
      .button-text1:first-child{
        margin-right: 20px;
      }
    }
  }
}






// =====================================================
//    MEDIA QUERIES
// =====================================================
// Small
@media (min-width: 544px) {
}
// Medium
@media (max-width: 768px) {
}
 // Large
@media (max-width: 992px) {
}
// Extra large
@media (max-width: 1225px) {
}
